<h2>住所情報登録</h2>

<%= form_for @producer_address do |f| %>
  <%= render "devise/shared/error_messages", resource: @producer_address %>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :prefecture %><br />
    <%= f.collection_select :prefecture, Prefecture.all, :id, :name, {} %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :house_number %><br />
    <%= f.text_field :house_number %>
  </div>

  <div class="field">
    <%= f.label :building_name %><br />
    <%= f.text_field :building_name %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>