<div class='item-show'>
  <div class='item-box'>
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag(@item.image, size: '400x300')%>
    </div>
    <div class='description-box'>
      <div class='producer'>
        <% if @item.producer.image.blank? %>
          <%= link_to image_tag('/assets/icon.jpg',size: '150x150'), producer_path(@item.producer.id)%>
        <% else %>
          <%= link_to image_tag(@item.producer.image, size: '200x200'), producer_path(@item.producer.id)%>
        <%end%>
        <p><%= @item.producer.family_name %><%= @item.producer.first_name %></p>
      </div>
      <div class='bubble02'>
      <%= @item.description %>
      </div>
    </div>
    <div class='item-price-box'>
      <span class="item-price">
        ¥<%= @item.price %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>
  </div>
    <div class='sell-btn-contents'>
    <% if producer_signed_in? && current_producer.id == @item.producer_id %>
      <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除',item_path(@item.id) , method: :delete, class:'item-destroy' %>
    <% end %>
    <% if customer_signed_in? %>
      <%= link_to '購入する', order_item_path(@item.id), class:"item-red-btn", method: :post %>
    <% end %>
    </div>
  
   

</div>