  <div class="top">
    <% if @producer.profile.blank? %>
      <%= link_to image_tag('/assets/icon.jpg',size: '400x400')%>
    <% else %>
      <%= image_tag @producer.profile.image, size: '400x400' %>
    <% end %>
  </div>
  <div class="profile-show">
    <% if !@producer.profile.blank?%>
      <h2 class="profile"><%= @profile.producer_comment %></h2>
    <% end %>
  </div>

  <div class='sell-btn-contents'>
    <% if producer_signed_in? && current_producer.id == @producer.id && !@producer.profile.blank? %>
      <%= link_to 'コメントと写真の編集', edit_producer_profile_path(current_producer.id) %>
    <% elsif producer_signed_in? && current_producer.id == @producer.id && @producer.profile.blank? %>
      <%= link_to 'コメントと写真の設定', new_producer_profile_path(current_producer.id) %>
    <% end %>
  </div>
  <div class= "top">
    <p><%= @producer.family_name %><%= @producer.first_name %>さんの商品一覧</p>
  </div>
  <div class="main">
    <% @items.each do |item| %>
      <div class="producer-items">
        <%= link_to image_tag(item.image, size: '200x200'), item_path(item.id) %>
        <p class="name"><%= item.name %></p>
      </div>
    <% end %>
  </div>
